# 로컬 개발용 예시, 민감정보는 절대 버전관리하면 안됩니다.
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=passro-db
MYSQL_USER=passro
MYSQL_PASSWORD=passro

DATABASE_URL=jdbc:mysql://passro-db:3306/passro-db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DATABASE_USERNAME=passro
DATABASE_PASSWORD=passro

JAVA_OPTS=-Xms256m -Xmx512m

